$mainfont: "ohno-blazeface", sans-serif;
$secondaryfont: "baskerville-urw", serif;
$neutralcolor:#fffbf5;
$maincolor: #8c5858;
$secondarycolor:#d95323 ;
$thirdcolor: #f2784b;
$fourthcolor: #bf8f8f;

// Break points
$sm: 480px;
$md: 767px;
$lg: 991px;